.center {
    background-color: aqua;
    padding: 20px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    }
    h1 , h3{
    text-align: center; 
    }
    .label {
        padding-left: 20%;
        padding-right: 20%;
        font-weight: bolder;
    } 
    .bTn {
        padding-left: 20%;
    }
    button{
        font-size: large;
        font-weight: bolder;
        margin:10px;
        width: 60px;
        padding: 10px
    }